.container {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  margin: 0 auto;
}

.container div a img:nth-child(n) {
  width: 60vw;
}

.container div {
  transition: transform 0.5s;
}
