.hidden {
    display: none;
}

.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

html{
    position:relative;
    min-height: 100%;
}

html,body{
    margin:0;
    padding:0;
}

.copy {
    float: right;
}

#login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input.input-holder {
    width: 300px;
    height: 60px;
    text-align: center;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
}


.todo-sect {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

#greeting {
    top: 30%;
    margin-bottom: 20px;
    min-width: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    text-align: center;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: white;
    line-height: 50px;
}

.todo-sect>#todo-form>input {
    width: 358px;
    height: 60px;
    text-align: center;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
    align-items: center;
}

#todo-list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px dashed beige;
    border-radius: 10px;
    background-color: beige;
    list-style-type: none;
    margin: 20px 25%;
}

ul>li>span {
    padding: 0 5px 0 10px;
}

ul {
    width: 325px;
    min-height: 60px;
}

.delBtn {
    padding-right: 40px;
    float: right;
    font-size: 5px;
    background: none;
    border: none;
}

.cancle {
    text-decoration: line-through;
    color: #d3d3d3;
}

.logoutbtn {
    border: 3px solid #dedede; 
    background-color: rgba(0,0,0,0); 
    color:  #dedede; 
    padding: 5px;
}


#quote {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;   
    height:100px;
}

#quote>span:first-child {
    font-family: fantasy;
    font-size: 25px;
    font-weight: bold;
    text-shadow: -1px 0 #dedede, 0 1px #dedede, 1px 0 #dedede, 0 -1px #dedede;
    color: grey;
}

#quote>span:last-child {
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    text-shadow: -1px 0 #dedede, 0 1px #dedede, 1px 0 #dedede, 0 -1px #dedede;
    color: grey;
}

#widget {
    position: absolute;
    top: 5%;
    left: 10%;
    min-width: 220px;
    text-align: center;
    padding-bottom: 20px;
    background-image: url('../img/memo.png');
    background-repeat : no-repeat;
    background-size : cover;
}

h2#fulldate {
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3#clock {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon {
    width: 30px;
    height: 30px;
}

.weather {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
}