.hidden {
  display: none;
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  background-attachment: scroll;
}

html {
  position: relative;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.copy {
  margin-left: auto;
}

#login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input.input-holder {
  width: 300px;
  height: 60px;
  text-align: center;
  border-radius: 20px;
  font-size: large;
  font-weight: bold;
}

.todo-sect {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
}

#greeting {
  display: flex;
  top: 30%;
  margin-bottom: 20px;
  min-width: 300px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 10vmin;
  text-align: center;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
  flex-direction: column;
  align-items: center;
}

.todo-sect > #todo-form > input {
  width: 358px;
  height: 60px;
  text-align: center;
  border-radius: 20px;
  font-size: large;
  font-weight: bold;
  align-items: center;
}

#todo-list {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 1px dashed beige;
  border-radius: 10px;
  background-color: beige;
  list-style-type: none;
  margin: 20px 25%;
  max-height: 120px;
  flex: 1;
  overflow: auto;
  transform-origin: right bottom;
}

#todo-list::-webkit-scrollbar {
  display: none;
}

#todo-list::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  background-clip: padding-box;
}

#todo-list::-webkit-scrollbar-track {
  background-color: gainsboro;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

ul > li > span {
  padding: 0 5px 0 10px;
}

ul {
  width: 325px;
  min-height: 120px;
}

.delBtn {
  margin-right: 10px;
  padding-right: 40px;
  float: right;
  font-size: 5px;
  background: none;
  border: none;
}

.cancle {
  text-decoration: line-through;
  color: #d3d3d3;
}

.logoutbtn {
  border: 3px solid #dedede;
  background-color: rgba(0, 0, 0, 0);
  color: #dedede;
  padding: 5px;
}

#quote {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#quote > span:first-child {
  font-family: fantasy;
  font-size: 25px;
  font-weight: bold;
  text-shadow: -1px 0 #dedede, 0 1px #dedede, 1px 0 #dedede, 0 -1px #dedede;
  color: grey;
}

#quote > span:last-child {
  font-family: fantasy;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  text-shadow: -1px 0 #dedede, 0 1px #dedede, 1px 0 #dedede, 0 -1px #dedede;
  color: grey;
}

#widget {
  position: static;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  height: 60px;
  padding-inline: 40px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
  text-align: center;
}

h2#fulldate {
  width: 120px;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3#clock {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.icon {
  width: 50px;
  height: 50px;
}

#weather {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.weather {
  text-align: center;
  margin-block: 10%;
}
